/* Web fonts */

@font-face {
    font-family: 'gtb';
    src: url('../font/gt-walsheim-bold-web.eot');
    src: url('../font/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'),
         url('../font/gt-walsheim-bold-web.woff') format('woff'),
         url('../font/gt-walsheim-bold-web.ttf') format('truetype'),
         url('../font/gt-walsheim-bold-web.svg#gt_walsheim_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt';
    src: url('../font/gt-walsheim-web.eot');
    src: url('../font/gt-walsheim-web.eot?#iefix') format('embedded-opentype'),
         url('../font/gt-walsheim-web.woff') format('woff'),
         url('../font/gt-walsheim-web.ttf') format('truetype'),
         url('../font/gt-walsheim-web.svg#gt_walsheim_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	border:0.750em solid #fff;
}
body {
	background:#f8f4e6;
	margin:0;
	padding:0;
	font:normal normal 1.125em 'gt', sans-serif;
}

* {
	outline:none;
}

h2, h3 {
	font-family: 'gtb', sans-serif;
	font-weight:normal;
}

h3.title {
	font-size:1.9em;
}

p.sub {
	line-height:2.5em;
	font-size:17px;
	margin:0 0 60px 0;
}

header#main {
	width:100%;
}

header#main nav ul {
	list-style:none;
}

h3.section {
	text-align:center;
}

.orbit-slide-number,
.orbit-timer {
	display:none;
}

.center {
	text-align:center;
}
.bottom {
	padding:20px 0 80px;
}

header#main nav ul {
	margin:0 auto;
	width:700px;
	height:180px;
}

header#main nav ul li {
	margin:0 33px;
	float:left;
	text-align:center;
}

header#main nav ul li a {
	text-decoration:none;
	color:#000;
	font:normal normal 16px 'gtb', sans-serif;
	line-height:180px;
}


header#main nav ul li#logo a {
	width:152px;
	height:152px;
	background:url(../img/templogo.png) 0 0 no-repeat;
	display:block;
	text-indent:-9999px;
	margin:12px 0 0 0;
}



footer#main {
	width:100%;
	background:#fff;
	float:left;
	margin:5.750em 0 0 0;
	padding:2.500em 0 0 0;
	min-height:320px;
}

footer#main .footer-block > a {
	text-decoration:none;
	color:#000;
}

footer#main .footer-block.links > a {
	display:block;
	font-size:16px;
	margin:0 0 10px 0;
}

.items .panel {
	background:#fff;
	border:none;
	padding:1.7em;
}

.grey {
	background:#222;
}
.grid {
	position:relative;
}
.block {
	position:relative;
	overflow:hidden;
	background:#333;
}
.block a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	text-decoration:none;
	font:normal normal 22px 'gtb', sans-serif;
	letter-spacing:4px;
}
.big.block a {
	line-height:500px;
}
.big.block {
	width:500px;
	height:500px;
	margin:0 20px 0 0;
	float:left;
}

.medium.block {
	width:480px;
	height:230px;
	margin:0 0 20px 0;
	float:left;
}
.medium.block a {
	line-height:230px;
}
.small.block {
	width:230px;
	height:250px;
	overflow:hidden;
	margin:0 0 0 0px;
	float:left;
}
.small.block a {
	line-height:250px;
}
.small.block:last-child {
	float:right;
}

.big.block .overlay {
	bottom:-500px;
}

.medium.block .overlay {
	bottom:-230px;
}

.small.block .overlay {
	bottom:-250px;
}

.overlay {
	background:rgba(0,0,0,0.4);
	position: absolute;
	z-index:9;
	width:100%;
	height:100%;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-webkit-transition: opacity 0.35s ease-in-out, bottom 0 linear;
	-webkit-transition-delay: 0s, 0.35s;
	-moz-transition: opacity 0.35s ease-in-out, bottom 0 linear 0.35s;
	-o-transition: opacity 0.35s ease-in-out, bottom 0 linear 0.35s;
	transition: opacity 0.35s ease-in-out, bottom 0 linear 0.35s;
}

.block:hover .overlay {
	bottom: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	-webkit-transition: opacity 0.35s ease-in-out, bottom 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	-moz-transition: opacity 0.35s ease-in-out, bottom 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	-o-transition: opacity 0.35s ease-in-out, bottom 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	transition: opacity 0.35s ease-in-out, bottom 0.7s cubic-bezier(0.24, 0.835, 0, 1);
}
.large-6.small-6 {
	padding:1.875em 0.9375em 0;
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}
.row {
	width:100%;
	float: left;
}
.wrapper {
	width:1000px;
	margin:0 auto;
}
#slider a.nav {
	position: absolute;
	z-index:999;
	width:53px;
	height:135px;
	background:#fff;
	margin-top:-68px;
	text-align:center;
	line-height:135px;
	display:block;
	text-decoration:none;
	color:#000;
	font-size:23px;
}
a.nav.prev {
	left:-12px;
	top:50%;
}
a.nav.next {
	right:-12px;
	top:50%;
}

#slider {
	width:100%;
	height:520px;
	overflow:hidden;
	position:relative;
}
#slider ul {
	width: 10000px;
	list-style: none;
	-webkit-transition: margin-left 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	-moz-transition: margin-left 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	-o-transition: margin-left 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	transition: margin-left 0.7s cubic-bezier(0.24, 0.835, 0, 1);
}
#slider ul li {
	float:left;
}

#slider .row {
	background:#636363;
	height:520px;
}
.product {
	background:#fff;
	width:320px;
	position: relative;
	line-height:0;
}
.product img {
	line-height:0;
}
.product > a {
	padding:11px 0;
	width:170px;
	color:#fff;
	background:#f83c23;
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-85px;
	margin-top:22px;
	text-align:center;
	line-height:22px;
	text-decoration:none;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-webkit-transition: opacity 0.35s ease-in-out, margin-top 0 linear;
	-webkit-transition-delay: 0s, 0.35s;
	-moz-transition: opacity 0.35s ease-in-out, margin-top 0 linear 0.35s;
	-o-transition: opacity 0.35s ease-in-out, margin-top 0 linear 0.35s;
	transition: opacity 0.35s ease-in-out, margin-top 0 linear 0.35s;
}
.product:hover > a {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	margin-top:-22px;
	-webkit-transition: opacity 0.35s ease-in-out, margin-top 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	-moz-transition: opacity 0.35s ease-in-out, margin-top 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	-o-transition: opacity 0.35s ease-in-out, margin-top 0.7s cubic-bezier(0.24, 0.835, 0, 1);
	transition: opacity 0.35s ease-in-out, margin-top 0.7s cubic-bezier(0.24, 0.835, 0, 1);
}
.product,
.footer-block {
	width:320px;
	float:left;
	margin:0 20px 0 0;
}
.product:last-child,
.footer-block.last{
	margin:0;
}

.copyright {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #f8f4e6;
	padding:20px 0 8px;
	font-size:14px;
	margin:120px 0 0 0;
}
.copyright a {
	text-decoration:none;
	color:#000;
}

.panel {
	background:#fff;
	padding:25px;
}
.panel a {
	text-decoration:none;
	color:#000;
	font-size:18px;
	line-height:30px;
}
.panel a span {
	display:block;
}
.footer-block form {
	position: relative;
}
.footer-block input[type="text"]{
	width:180px;
	padding:13px;
	border:2px solid #000;
}

.footer-block input[type="submit"]{
	width:110px;
	height:43px;
	border:none;
	background:#f83c23;
	float:right;
	position: absolute;
	top:2px;
	right:0;
	font:normal normal 14px 'gtb', sans-serif;
	color:#fff;
}
.footer-block .social {
	width:32px;
	height:32px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	background:#f8f4e6;
	display:inline-block;
	text-align:center;
	line-height:32px;
	font-size:16px;
	margin:10px 5px 0 0;
}
.footer-block .social:hover {
	background:#f83c23;
}
.footer-block .social:hover i {
	color:#fff;
}

span.dash-berlin {
	height:1px;
	width:60px;
	margin:34px auto;
	background:#000;
	display:block;
}

@media only screen and (max-width: 400px) {
	.wrapper {
		width:320px;
		margin:0 auto;
	}

	.small.block,
	.medium.block,
	.bog.block {
		width:320px;
		height:320px;
		margin:0 0 20px 0;
		line-height:320px;
	}

.big.block .overlay,
.medium.block .overlay,
.small.block .overlay {
	bottom:-320px;
}

	.product,
	.footer-block {
		width:320px;
		float:left;
		margin:0 0 30px 0;
	}
}